@import 'fonts.css';

.body-wrap {
   max-width: 1920px;
   margin: 0 auto;
}

body {
   font-style: normal;
}

.ubuntu() { font-family: 'Ubuntu', sans-serif; }
.bearpaw() { font-family: 'Bearpaw', serif; }
.electron_r() { font-family: "Electron Regular", serif; }


// header-top
.header-top {
   background: url("../images/header_bg.jpg") center center no-repeat;
   background-size: cover;
   box-sizing: border-box;

   .header-top__body {
      max-width: 1155px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
   }

   .header-top__contacts {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      max-width: 355px;
      margin-top: 22px;
      margin-bottom: 22px;

      .header-top__contacts-item {
         width: 50%;
         display: flex;
         align-items: center;

         &:first-child {
            img {
               opacity: 0;
            }
         }

         .title {
            .ubuntu();
            color: #ef2524;
            font-size: 16px;
            line-height: 36px;
            text-align: right;
         }

         img {
            display: block;
            margin-right: 4px;
            width: 25px;
         }

         .link {
            text-decoration: none;
            color: #ffc10e;
            .ubuntu();
            font-size: 16px;
            line-height: 36px;
         }
      }
   }

   .header-top__logo {
      position: absolute;
      top: 0;

      .logo {
         background-color: transparent;
         position: absolute;
         perspective: 1000px;

         &.spin {
            .logo__spinner {
               transform: rotateY(180deg);
            }
         }
      }

      .logo__blur {
         display: none;
         position: absolute;
         top: 3px;
         left: 17px;
         height: 148px;
         width: 233px;
         background-image: url("../images/logo_blur.png");
         animation: logoBlur 1.0s steps(12) infinite;
      }

      .logo__spinner {
         position: relative;
         width: 100%;
         height: 100%;
         transform-style: preserve-3d;
         transition: transform 0.6s;

         .logo__front {
            position: absolute;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
         }

         .logo__back {
            position: absolute;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            transform: rotateY(180deg);
         }
      }
   }

   .header-top__navigation {
      display: flex;
      align-items: center;

      .header-top__b2b {
         img {
            width: 53px;
            display: block;
            margin-right: 35px;
         }
      }

      .header-top__menu {
         display: flex;
         align-items: center;

         span {
            .ubuntu();
            color: #ffc10e;
            font-size: 16px;
            text-transform: uppercase;
            margin-right: 10px;
         }

         .menu {
            width: 72px;
            cursor: pointer;
            position: relative;
         }

         .menu__body {
            svg {
               path {
                  fill: #af0104;
               }
            }
         }

         .menu__button {
            position: absolute;
            top: -4px;
            left: calc(50% - 17.875px);

            &.active {
               .open {
                  display: none;
               }

               .close {
                  display: block;

                  g {
                     fill: #ff7200;
                  }
               }
            }

            .open {
               path {
                  fill: #f5b90f;
               }
            }

            .close {
               display: none;
               margin-left: 3.5px;

               g {
                  fill: #f5b90f;
               }
            }
         }
      }

      .header-top__languages {
         position: relative;
         padding-right: 17px;
         box-sizing: border-box;

         .header-top__languages-title {
            display: flex;
            align-items: center;
            .ubuntu();
            color: #ffc10e;
            font-size: 16px;
            cursor: pointer;
            text-transform: uppercase;

            img {
               display: block;
            }

            &::after {
               content: '';
               position: absolute;
               right: 0;
               background: url("../images/arrow_tri.png") center center no-repeat;
               width: 12px;
               height: 6px;
            }
         }

         .header-top__languages-list {
            position: absolute;
            top: 0;
            left: 0;
            height: 36px;
            overflow: hidden;
         }

         li {
            display: flex;
            align-items: center;
            .ubuntu();
            color: #ffc10e;
            font-size: 16px;
            margin-bottom: 10px;
            cursor: pointer;
            text-transform: uppercase;

            img {
               display: block;
            }
         }
      }
   }

   @media all and (min-width: 1025px) {
      .header-top__body {
         height: 118px;
      }

      .header-top__b2b.mobile {
         display: none;
      }

      .header-top__logo {
         width: 337px;
         left: calc(50% - 168.5px);

         .logo-before {
            img {
               width: 337px;
            }
         }

         .logo {
            top: 2px;
            left: calc(50% - 1px);

            img {
               width: 256px;
            }
         }

         .logo__spinner {
            .logo__front {
               left: calc(50% - 115px);
               width: 246px;

               img {
                  width: 246px;
               }
            }

            .logo__back {
               left: calc(50% - 128px);
               width: 256px;

               img {
                  width: 256px;
               }
            }
         }
      }

      .header-top__navigation {
         .header-top__menu {
            .menu {
               margin-top: 10px;
            }
         }
      }

      .header-top__languages {
         margin-top: 10px;

         .header-top__languages-title {
            margin-bottom: 10px;
         }
      }
   }

   @media all and (max-width: 1024px) {
      .header-top__body {
         height: 68px;
      }

      .header-top__contacts {
         display: none;
      }

      .header-top__b2b.pc {
         display: none;
      }

      .header-top__logo {
         width: 190px;
         left: 22px;

         .logo-before {
            img {
               width: 190px;
            }
         }

         .logo {
            top: 1px;
            left: calc(50%);

            img {
               width: 138px;
            }
         }

         .logo__spinner {
            .logo__front {
               left: calc(50% - 66px);
               width: 138px;

               img {
                  width: 138px;
               }
            }

            .logo__back {
               top: -2px;
               left: calc(50% - 74px);
               width: 148px;

               img {
                  width: 148px;
               }
            }
         }
      }

      .header-top__navigation {
         .header-top__menu {
            .menu__button {
               top: 1px;

               svg {
                  height: 25px;
               }
            }
         }
      }

      .header-top__languages {
         .header-top__languages-title {
            margin-bottom: 0;
         }
      }
   }

   @media all and (min-width: 769px) {
      padding: 0 30px;

      .header-top__navigation {
         .header-top__menu {
            .menu__button {
               .open {
                  path {
                     transition: fill .2s ease-in-out;
                  }

                  &:hover {
                     path {
                        fill: #fff;
                        transition: fill .2s ease-in-out;
                     }
                  }
               }

               .close {
                  g {
                     transition: fill .2s ease-in-out;
                  }

                  &:hover {
                     g {
                        fill: #fff;
                        transition: fill .2s ease-in-out;
                     }
                  }
               }
            }
         }
      }
   }

   @media all and (max-width: 768px) {
      padding: 0 15px;
   }

   @media all and (min-width: 577px) {
      .header-top__navigation {
         .header-top__languages {
            .header-top__languages-title {
               img {
                  width: 36px;
                  margin-right: 10px;
               }

               &::after {
                  top: 16px;
               }
            }

            li {
               img {
                  width: 36px;
                  margin-right: 10px;
               }
            }
         }
      }
   }

   @media all and (max-width: 576px) {
      .header-top__navigation {
         .header-top__menu {
            .menu {
               margin-top: 5px;
            }

            .menu__body {
               svg {
                  width: auto;
                  height: 33px;
               }
            }

            .menu__button {
               top: -1px;
               left: calc(50% - 22px);

               svg {
                  height: 22px;
               }
            }
         }

         .header-top__languages {
            .header-top__languages-title {
               img {
                  width: 28px;
                  margin-right: 5px;
               }

               &::after {
                  top: 11px;
               }
            }

            li {
               img {
                  width: 28px;
                  margin-right: 5px;
               }
            }
         }
      }
   }

   @media all and (min-width: 501px) {
      .header-top__navigation {
         .header-top__menu {
            .menu {
               margin-right: 38px;
            }
         }
      }
   }

   @media all and (max-width: 500px) {
      .header-top__navigation {
         .header-top__menu {
            span {
               display: none;
            }

            .menu {
               margin-right: 0;
            }
         }
      }
   }
}
// end . header-top

// animations
@keyframes candle {
   0% { background-position-x: 0px; }
   100% { background-position-x: 100%; }
}

@keyframes buttonFire {
   0% { background-position-x: 0px; }
   100% { background-position-x: 100%; }
}
// end . animations

// top-block
.top-block.home {
   box-sizing: border-box;

   .top-block__body {
      max-width: 1250px;
      margin: 0 auto;
      position: relative;
   }

   .top-block__title {
      .bearpaw();
      color: #ffc10e;
      text-align: center;
   }

   .roulette {
      .roulette__prize {
         display: none;
      }

      @keyframes wheelLights {
         0% {
            background: url("../images/wheel_lights_1.png") -9px 2px no-repeat;
            background-size: 560px 553px;
         }
         100% {
            background: url("../images/wheel_lights_2.png") -9px 2px no-repeat;
            background-size: 560px 553px;
         }
      }

      .roulette__wheel-lights {
         position: absolute;
         z-index: 2;
         animation: wheelLights .5s infinite;
      }

      .roulette__wheel-spin {
         position: absolute;
         z-index: 1;

         &.pulse {
            animation: drumLoader .5s infinite linear;
         }

         &.rotate {
            animation: wheelSpinLoader 1.2s ease-out;
         }
      }

      .roulette__wheel-prize-wrap {
         position: absolute;
         z-index: 1;
         opacity: 0;
         transition: opacity .5s ease-in-out;
         user-select: none;

         &.show {
            opacity: 1;
            transition: opacity .5s ease-in-out;
         }

         .wheel-prize {
            position: absolute;
            z-index: 3;
         }
      }

      .roulette__spin-btn {
         position: absolute;
         z-index: 2;
         cursor: pointer;

         &.active {
            cursor: none;

            span {
               transform: scale(.8);
               filter: brightness(1);
            }

            .spin-bg {
               filter: brightness(1);
            }

            &:hover {
               span {
                  transform: scale(.8);
                  filter: brightness(1);
               }

               .spin-bg {
                  filter: brightness(1);
               }
            }
         }

         .spin-bg {
            display: block;
            filter: brightness(1.3);
            transition: filter .2s ease-in-out;
         }

         span {
            position: absolute;
            transform: scale(.9);
            filter: brightness(1.3);
            transition: transform .2s ease-in-out;
            user-select: none;

            img {
               display: block;
               user-select: none;
            }
         }
      }

      @keyframes wheelSpinLoader {
         0% { transform: rotate(-360deg); }
         100% { transform: rotate(0); }
      }

      @keyframes drumLoader {
         100% { transform: scale(1); }
         50% { transform: scale(1.025); }
         0% { transform: scale(1); }
      }
   }

   .top-block__candle.left {
      position: absolute;
      bottom: -26px;
      height: 428px;
      width: 324px;
      background-image: url("../images/candle_left.png");
      animation: candle 2s steps(17) infinite;
   }

   .top-block__candle.right {
      position: absolute;
      bottom: -26px;
      height: 428px;
      width: 324px;
      background-image: url("../images/candle_right.png");
      animation: candle 2s steps(17) infinite;
   }

   .top-block__get-win {
      cursor: pointer;

      img {
         width: 199px;
         transition: filter .2s ease-in-out;

         &:hover {
            filter: brightness(1.3);
            transition: filter .2s ease-in-out;
         }
      }
   }

   .top-block__prizes {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      position: relative;

      .scroll {
         position: absolute;
         top: 0;
         left: 0;
         z-index: 2;
         pointer-events: none;
      }

      .scroll-canvas {
         position: absolute;
         top: 40px;
         z-index: 1;
         background: url("../images/scroll_part2.png") center bottom no-repeat;
         background-size: cover;
      }

      .scroll-canvas__prizes {
         box-sizing: border-box;

         .scroll-canvas__prize {
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            position: relative;

            &.prize-added {

            }

            img {
               display: block;
               margin-right: 11px;
            }

            &:last-child {
               margin-bottom: 0;
            }
         }

         span {
            .ubuntu();
            font-weight: 300;
            color: #fff;
         }
      }

      .get-your-prizes {
         background: url("../images/button_bg_type1.png") center center no-repeat;
         background-size: cover;
         cursor: pointer;
         display: block;
         margin: 0 auto;
         margin-top: 62px;
         .ubuntu();
         font-size: 23px;
         color: #000;
         font-weight: 400;
         position: relative;

         &::before {
            content: '';
            position: absolute;
            z-index: -1;
            top: -96px;
            left: -50px;
            height: 175px;
            width: 335px;
            background-image: url("../images/button_fire.png");
            animation: buttonFire .7s steps(14) infinite;
         }

         .try {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -10px;
         }

         span {
            display: block;
            margin-right: 7px;
         }

         .text-done {
            display: none;
         }

         &.done {
            .text-done {
               display: block;
            }

            .text {
               display: none;
            }

            .count {
               display: none;
            }
         }
      }
   }

   @media all and (min-width: 1471px) {
      .top-block__candle {
         &.left {
            left: -212px;
         }

         &.right {
            right: -212px;
         }
      }
   }

   @media all and (max-width: 1470px) {
      .top-block__candle {
         &.left {
            left: -73px;
         }

         &.right {
            right: -73px;
         }
      }
   }

   @media all and (min-width: 1306px) {
      background: #2e0622 url("../images/top_block_bg.jpg") center center no-repeat;
      background-size: cover;
      overflow: hidden;

      .top-block__body {
         height: 987px;
      }

      .roulette {
         position: absolute;
         left: -43px;
         top: 203px;

         .roulette__wheel-prize-wrap {
            right: -512px;
            top: 99px;

            .wheel-prize {
               right: 68px;
               top: calc(50% - 52px);

               img {
                  width: 100px;
               }
            }
         }
      }

      .top-block__prizes {
         top: 0;
         left: calc(50% - 585px);
      }

      .top-block__get-win {
         position: absolute;
         right: 32px;
         top: 128px;
      }
   }

   @media all and (max-width: 1305px) {
      background-image: url("../images/top_block_bg_mobile_top.jpg"), url("../images/top_block_bg_mobile_bottom.jpg");
      background-color:  #2f0722;
      background-position: center top, center bottom;
      background-repeat: no-repeat, no-repeat;

      .top-block__body {
         display: flex;
         flex-direction: column;
      }

      .roulette {
         position: relative;
         margin: 0 auto;
         width: 560px;
         height: 553px;

         .roulette__wheel-prize-wrap {
            right: 51px;
            top: 99px;

            .wheel-prize {
               right: 68px;
               top: calc(50% - 52px);

               img {
                  width: 100px;
               }
            }
         }
      }

      .top-block__prizes {
         min-height: 960px;
      }

      .top-block__get-win {
         position: absolute;
         left: calc(50% - 173px);
         bottom: 100px;
         order: 3;
         user-select: none;
      }

      .top-block__candle {
         display: none;
      }
   }

   @media all and (min-width: 769px) {
      padding: 0 30px;

      .top-block__title {
         font-size: 78px;
         line-height: 60px;
         padding-top: 60px;
      }

      .roulette {
         .roulette__wheel-lights {
            width: 560px;
            height: 553px;
         }

         .roulette__wheel-spin {
            left: 60px;
            top: 68px;
         }

         .roulette__spin-btn {
            left: 226px;
            top: 244px;

            &:hover {
               span {
                  transform: scale(1);
                  filter: brightness(1.8);
                  transition: transform .2s ease-in-out;
               }

               .spin-bg {
                  filter: brightness(1.8);
                  transition: filter .2s ease-in-out;
               }
            }

            .spin-bg {
               width: 86px;
               height: 86px;
            }

            span {
               top: 19px;
               left: -13px;

               img {
                  width: 113px;
                  height: 46px;
               }
            }
         }
      }

      .top-block__prizes {
         width: 415px;

         .scroll {
            img {
               width: 415px;
            }
         }

         .scroll-canvas {
            left: calc(50% - 160px);
            width: 320px;
         }

         .scroll-canvas__prizes {
            padding: 20px 25px 0 25px;

            .scroll-canvas__prize {
               img {
                  width: 40px;
                  height: 40px;
               }

               span {
                  font-size: 18px;
                  line-height: 22px;
               }
            }
         }

         .scroll-canvas {
            padding-bottom: 20px;
         }

         .get-your-prizes {
            width: 236px;
            height: 67px;
         }
      }
   }

   @media all and (max-width: 768px) {
      padding: 0 15px;

      .top-block__title {
         font-size: 53px;
         line-height: 37px;
         padding-top: 45px;
      }

      .roulette {
         width: 330px;
         height: 328px;

         .roulette__wheel-lights {
            left: calc(50% - 165px);
            top: 0;
            width: 330px;
            height: 328px;
            background-size: 330px 328px !important;
         }

         .roulette__wheel-spin {
            left: calc(50% - 140px);
            top: calc(50% - 135px);

            img {
               width: 270px;
            }
         }

         .roulette__spin-btn {
            left: calc(50% - 37.5px);
            top: calc(50% - 32.5px);

            .spin-bg {
               width: 65px;
               height: 65px;
            }

            span {
               top: calc(50% - 16.5px);
               left: calc(50% - 44px);

               img {
                  width: 88px;
               }
            }
         }

         .roulette__wheel-prize-wrap {
            right: 36px;
            top: 45px;

            img {
               width: 160px;
            }

            .wheel-prize {
               right: 35px;
               top: calc(50% - 30px);

               img {
                  width: 60px;
               }
            }
         }
      }

      .top-block__prizes {
         width: 330px;
         top: 0;
         min-height: 900px;

         .scroll {
            img {
               width: 330px;
            }
         }

         .scroll-canvas {
            left: calc(50% - 121px);
            width: 240px;
         }

         .scroll-canvas__prizes {
            padding: 10px 20px 0 20px;

            .scroll-canvas__prize {
               img {
                  width: 30px;
                  height: 30px;
               }

               span {
                  font-size: 16px;
                  line-height: 19px;
               }
            }
         }

         .scroll-canvas {
            padding-bottom: 12px;
         }

         .get-your-prizes {
            width: 180px;
            height: 50px;
            font-size: 20px;
         }
      }
   }
}
// end . top-block


// products
.products.home {
   box-sizing: border-box;
   background: #280521 url("../images/products_bg.jpg") center calc(100% + 325px) no-repeat;

   .products__body {
      margin: 0 auto;
      max-width: 1265px;
      padding-bottom: 20px;
      box-sizing: border-box;
   }

   .products__title {
      .bearpaw();
      color: #fcf44f;
      position: relative;
      display: inline-block;

      &::after {
         content: '';
         position: absolute;
         background: url("../images/candle_3.png") center center no-repeat;
      }
   }

   .products__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 90px -30px 0 -30px;

      &.all {
         .products__item {
            display: block;
         }
      }
   }

   .products__item {
      width: 360px;
      min-height: 270px;
      margin: 0 30px 75px 30px;
      display: none;

      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
         display: block;
      }

      .products__img {
         position: relative;
         width: 360px;
         height: 270px;

         &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, .7);
            opacity: 0;
            transition: opacity .2s ease-in-out;
         }

         &:hover {
            &::before {
               opacity: 1;
               transition: opacity .2s ease-in-out;
            }

            .products__play-button {
               opacity: 1;
               transition: opacity .2s ease-in-out;
            }

            .border {
               opacity: 0;
               transition: opacity .2s ease-in-out;
            }

            .fire {
               opacity: 0;
               transition: opacity .2s ease-in-out;
            }
         }
      }

      .products__item-title {
         .ubuntu();
         font-weight: 300;
         font-size: 21px;
         line-height: 30px;
         color: #fff;
         text-align: center;
         margin-right: 10px;
         margin-left: 10px;
         padding-top: 35px;
      }

      .products__play-button {
         position: absolute;
         left: calc(50% - 127px);
         top: 145px;
         opacity: 0;
         transition: opacity .2s ease-in-out;
         text-decoration: none;
         z-index: 3;

         button {
            border: none;
            width: 254px;
            height: 85px;
            background: url("../images/button_play.png") center center no-repeat;
            .ubuntu();
            font-size: 23px;
            line-height: 27px;
            color: #000;
            padding-bottom: 10px;
            box-sizing: border-box;
            cursor: pointer;
         }
      }

      .border {
         position: absolute;
         top: -35px;
         left: -35px;
         bottom: -31px;
         right: -35px;
         z-index: 1;
         transition: opacity .2s ease-in-out;

         img {
            width: 100%;
            height: 100%;
            transition: opacity .2s ease-in-out;
         }
      }

      .fire {
         position: absolute;
         top: -15px;
         left: 0;
         z-index: 2;
      }
   }

   .products__button-all {
      .ubuntu();
      font-weight: 300;
      font-size: 23px;
      line-height: 30px;
      color: #fff;
      background-color: #290521;
      border: 1px solid #fff;
      border-radius: 35px;
      box-sizing: border-box;
      padding: 10px 50px;
      cursor: pointer;
      margin: 0 auto;
      display: block;
      box-shadow: 1px 0px 16px 10px #5a0822;
      transition: color .2s ease-in-out;

      &:hover {
         color: #f5b90f;
         transition: color .2s ease-in-out;
      }
   }

   @media all and (min-width: 769px) {
      padding: 0 30px;

      .products__title {
         font-size: 88px;
         padding-top: 72px;

         &::after {
            right: -245px;
            top: -113px;
            width: 223px;
            height: 273px;
         }
      }
   }

   @media all and (max-width: 768px) {
      padding: 0 15px;

      .products__title {
         font-size: 68px;
         padding-top: 40px;

         &::after {
            right: -148px;
            top: -55px;
            width: 130px;
            height: 159px;
            background-size: cover;
         }
      }
   }
}
// end . products


// about
.about.home {
   background: #2a0520 url("../images/about_bg.jpg") center top no-repeat;
   box-sizing: border-box;

   .about__body {
      max-width: 1270px;
      margin: 0 auto;
   }

   .about__title {
      .bearpaw();
      color: #fcf44f;
      width: 100%;

      span {
         position: relative;

         &::after {
            content: '';
            position: absolute;
            background: url("../images/candle_3.png") center center no-repeat;
         }
      }
   }

   .about__content {
      display: flex;
   }

   .about__left {
      position: relative;

      &.mobile {
         display: none;
      }

      .about__file {
         position: absolute;
         display: flex;
         flex-direction: column;
         align-items: center;
      }

      @keyframes fileCircle {
         0% { transform: rotate(360deg); }
         100% { transform: rotate(0); }
      }

      .about__file-circle {
         position: absolute;
         z-index: 1;
         animation: fileCircle .9s infinite linear;
      }

      .about__file-img {
         position: relative;
         z-index: 2;
         color: #fff;
         display: flex;
         flex-direction: column;
         align-items: center;
      }

      .about__file-text {
         .ubuntu();
         color: #fff;
         text-align: center;
         display: block;
      }
   }

   .about__right {
      .about__description {
         .ubuntu();
         color: #fff;
         margin-top: 15px;
      }

      .about__canvas {
         box-sizing: border-box;
      }

      .about__canvas-line {
         display: flex;

         .img-1 {
            display: block;
         }

         .about__canvas-subline {
            display:flex;
         }

         .img-2__body {
            display: flex;
            align-items: flex-start;
            position: relative;

            &::after {
               content: '';
               position: absolute;
               bottom: 0;
               left: 0;
            }
         }

         .img-2 {
            width: 36px;
            display: block;
            margin-right: 10px;
         }

         .img-2__text {
            span {
               display: block;
               .ubuntu();

               &:first-child {
                  font-weight: 400;
                  color: #fcf44f;
                  font-size: 26px;
                  line-height: 26px;
                  text-decoration: underline;
               }

               &:last-child {
                  font-weight: 300;
                  color: #fff;
                  font-size: 16px;
               }
            }
         }

         .img-3 {
            display: block;
         }

         .pdfs {
            display: flex;
         }

         .pdf {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
               width: 48px;
               height: 60px;
               display: block;
            }

            span {
               display: block;
               color: #fff;
               .ubuntu();
               font-weight: 300;
               font-size: 16px;
               line-height: 26px;
               text-decoration: underline;
            }
         }
      }

      .about__languages {
         .about__languages-title {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            svg {
               path {
                  fill: #fcf44f;
               }
            }

            span {
               color: #fcf44f;
               .ubuntu();
               font-weight: 300;
               font-size: 22px;
               display: block;
               margin-left: 10px;
            }
         }

         .about__languages-list {
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
         }

         .about__language {
            display: flex;
            align-items: center;

            img {
               width: 24px;
            }

            span {
               .ubuntu();
               font-weight: 300;
               color: #fff;
               display: block;
            }
         }
      }

      .about__info {
         margin-top: 15px;

         .about-info__text {
            display: flex;
            align-items: center;

            svg {
               margin-right: 10px;

               path {
                  fill: #fcf44f;
               }
            }

            p {
               color: #fcf44f;
               .ubuntu();
               font-weight: 300;
            }
         }
      }
   }

   @media all and (min-width: 1401px) {
      .about__title {
         text-align: center;
         margin-left: 65px;
      }

      .about__left {
         width: 530px;

         .about__left-img {
            width: 530px;
         }

         .about__file {
            top: 125px;
            right: 52px;
         }

         .about__file-img {
            img {
               width: 65px;
            }
         }

         .about__file-text {
            font-size: 22px;
            line-height: 36px;
            max-width: 150px;
            margin-top: 40px;
         }

         .about__file-circle {
            top: -45px;
            right: -12px;
         }
      }

      .about__right {
         margin-left: 45px;

         .about__left.mobile-hell {
            display: none;
         }

         .about__description {
            margin-top: 15px;
         }

         .about__canvas {
            background: url("../images/about_canvas.png") center top no-repeat;
            background-size: cover;
            margin: 10px -50px 0 -50px;
            padding-top: 75px;
            padding-bottom: 65px;
            padding-left: 50px;
         }

         .about__canvas-line {
            .img-1 {
               margin-right: 75px;
            }

            .img-2__body {
               margin-top: 27px;
            }

            .pdfs {
               margin-left: 105px;
            }

            .pdf {
               margin-right: 42px;
            }
         }

         .about__languages {
            margin-top: 40px;

            .about__languages-list {
               padding: 0 32px;
            }

            .about__language {
               width: 33.3333%;
               margin-bottom: 18px;

               span {
                  font-size: 20px;
                  margin-left: 10px;
               }
            }
         }

         .about__info {
            margin-top: 15px;

            .about-info__text {
               margin-bottom: 24px;

               p {
                  font-size: 22px;
                  line-height: 36px;
               }
            }
         }
      }
   }

   @media all and (max-width: 1400px) {
      .about__content {
         flex-direction: column;
         justify-content: center;
      }

      .about__left {
         width: 320px;
         margin: 0 auto;

         &.pc {
            display: none;
         }

         .about__left-img {
            width: 100%;
            max-width: 320px;

            img {

            }
         }

         .about__file {
            top: 70px;
            right: 0;
         }

         .about__file-img {
            img {
               width: 47px;
            }
         }

         .about__file-text {
            font-size: 18px;
            line-height: 26px;
            max-width: 145px;
            margin-top: 20px;
         }

         .about__file-circle {
            top: -30px;
            right: 17px;

            img {
               width: 120px;
            }
         }
      }

      .about__right {
         .about__description {
            margin-bottom: 20px;
         }

         .about__canvas {
            background: url("../images/about_canvas_mobile.png") center top no-repeat;
            background-size: 462px 638px;
            padding-top: 55px;
            padding-bottom: 160px;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 447px;
            margin: 0 auto;
         }

         .about__canvas-line {
            .img-1 {
               width: 90px;
               height: 90px;
               margin-right: 25px;
            }

            .about__canvas-subline {
               flex-direction: column;
            }

            .img-2__body {
               margin-bottom: 10px;
            }

            .pdfs {
               margin-right: 32px;
            }

            .pdf {
               margin-right: 21px;
            }
         }

         .about__languages {
            margin-top: 15px;

            .about__languages-list {
               max-width: 360px;
               padding: 0 10px;
            }

            .about__language {
               width: 50%;
               max-width: 150px;
               margin-right: 10px;
               margin-bottom: 14px;

               span {
                  font-size: 17px;
                  margin-left: 7px;
               }
            }
         }

         .about__info {
            margin-top: 10px;
            max-width: 360px;

            .about-info__text {
               margin-bottom: 10px;

               svg {
                  width: 36px;
                  height: 36px;
               }

               p {
                  font-size: 18px;
                  line-height: 22px;
               }
            }
         }
      }
   }

   @media all and (min-width: 769px) {
      padding: 0 30px;

      .about__title {
         font-size: 88px;
         padding-top: 100px;

         span {
            &::after {
               right: -245px;
               top: -195px;
               width: 223px;
               height: 273px;
            }
         }
      }

      .about__right {
         .about__description {
            font-size: 20px;
            line-height: 36px;
         }
      }
   }

   @media all and (max-width: 768px) {
      padding: 0 15px;

      .about__title {
         font-size: 68px;
         padding-top: 50px;

         span {
            &::after {
               right: -157px;
               top: -90px;
               width: 122px;
               height: 150px;
               background-size: 122px 150px;
            }
         }
      }

      .about__right {
         .about__description {
            font-size: 18px;
            line-height: 30px;
         }
      }
   }
}
// end . about


// win
.win {
   box-sizing: border-box;
   background-image: url("../images/win_bg.jpg");
   background-color: #4a0c23;
   background-position: center -70px;
   background-repeat: no-repeat;

   .win__body {
      max-width: 1135px;
      margin: 0 auto;
   }

   .win__title {
      h2 {
         .bearpaw();
         color: #fcf44f;
         width: 100%;
      }

      span {
         position: relative;

         &::after {
            content: '';
            position: absolute;
            background: url("../images/candle_3.png") center center no-repeat;
         }
      }
   }

   .win__subtitle {
      .ubuntu();
      color: #fff;
   }

   .win__benefits-img {
      position: relative;

      .img-1 {
         display: block;
         margin: 0 auto;
      }

      .win__benefits-question {
         position: relative;

         img {
            display: block;
            margin: 0 auto;
         }

         span {
            position: absolute;
            .ubuntu();
            font-weight: 300;
            color: #fff;
         }
      }

      .win__benefits-item {
         position: absolute;

         span {
            position: absolute;
            .electron_r();
            font-weight: 400;
            color: #c60004;
            text-shadow: -3px -3px 0 #fcf44f, 3px -3px 0 #fcf44f, -3px  3px 0 #fcf44f, 3px  3px 0 #fcf44f;
         }
      }

      .win__benefits-ghost {
         position: absolute;
      }
   }

   @media all and (min-width: 1531px) {
      .win__title {
         h2 {
            padding-top: 198px;
         }
      }

      .win__benefits-img {
         .win__benefits-question {
            margin-top: 85px;
            padding-bottom: 50px;

            span {
               top: 61px;
               left: 310px;
               font-size: 24px;
               line-height: 36px;
            }
         }

         .win__benefits-item {
            span {
               font-size: 36px;
               line-height: 25px;
            }

            .win__benefits-item-img {
               width: 170px;
            }

            &.item-1 {
               top: 42px;
               left: calc(50% - 70px);

               span {
                  width: 500px;
                  top: -75px;
                  left: calc(50% - 225px);
                  font-size: 48px;
               }
            }

            &.item-2 {
               top: 238px;
               right: 26px;

               span {
                  width: 535px;
                  top: -55px;
                  left: calc(50% - 250px);
               }
            }

            &.item-3 {
               top: 688px;
               right: 108px;

               span {
                  width: 245px;
                  top: -30px;
                  right: -300px;
                  line-height: 42px;
               }
            }

            &.item-4 {
               top: 918px;
               right: calc(50% - 98px);

               span {
                  width: 540px;
                  top: 211px;
                  right: calc(50% - 285px);
                  line-height: 42px;
               }
            }

            &.item-5 {
               top: 683px;
               left: 140px;

               span {
                  top: -12px;
                  left: -275px;
                  line-height: 42px;
                  text-align: right;
                  max-width: 215px;
               }
            }

            &.item-6 {
               top: 235px;
               left: 57px;

               span {
                  top: -65px;
                  left: -115px;
                  line-height: 42px;
                  width: 500px;
               }
            }
         }

         .win__benefits-ghost {
            &.ghost-4 {
               top: -32px;
               right: -36px;

               img {
                  width: 239px;
               }
            }

            &.ghost-2 {
               top: 914px;
               right: -178px;

               img {
                  width: 373px;
               }
            }

            &.ghost-1 {
               top: 330px;
               left: -178px;

               img {
                  width: 195px;
               }
            }

            &.ghost-3 {
               top: 1172px;
               left: 82px;

               img {
                  width: 150px;
               }
            }
         }
      }
   }

   @media all and (max-width: 1530px) {
      background-size: 1530px auto;

      .win__title {
         h2 {
            padding-top: 173px;
         }
      }

      .win__benefits-img {
         .img-1 {
            width: 820px;
         }

         .win__benefits-question {
            margin-top: 85px;
            padding-bottom: 50px;

            img {
               width: 480px;
            }

            span {
               top: 49px;
               left: 374px;
               font-size: 18px;
               line-height: 25px;
            }
         }

         .win__benefits-item {
            span {
               font-size: 24px;
               line-height: 25px;
            }

            .win__benefits-item-img {
               width: 120px;

               img {
                  width: 120px;
               }
            }

            &.item-1 {
               top: 32px;
               left: calc(50% - 59px);

               span {
                  width: 400px;
                  top: -65px;
                  left: calc(50% - 190px);
                  font-size: 40px;
               }
            }

            &.item-2 {
               top: 168px;
               right: 198px;

               span {
                  width: 354px;
                  top: -55px;
                  left: calc(50% - 171px);
               }
            }

            &.item-3 {
               top: 480px;
               right: 250px;

               span {
                  width: 200px;
                  top: -7px;
                  right: -236px;
                  line-height: 35px;
               }
            }

            &.item-4 {
               top: 643px;
               right: calc(50% - 61px);

               span {
                  width: 358px;
                  top: 148px;
                  right: calc(50% - 203px);
                  line-height: 35px;
               }
            }

            &.item-5 {
               top: 486px;
               left: 256px;

               span {
                  top: -11px;
                  left: -179px;
                  line-height: 35px;
                  text-align: right;
                  max-width: 137px;
               }
            }

            &.item-6 {
               top: 168px;
               left: 197px;

               span {
                  top: -65px;
                  left: -76px;
                  line-height: 42px;
                  width: 271px;
               }
            }
         }

         .win__benefits-ghost {
            &.ghost-4 {
               top: -50px;
               right: 110px;

               img {
                  width: 195px;
               }
            }

            &.ghost-2 {
               top: 654px;
               right: 17px;

               img {
                  width: 290px;
               }
            }

            &.ghost-1 {
               top: 201px;
               left: 31px;

               img {
                  width: 150px;
               }
            }

            &.ghost-3 {
               top: 810px;
               left: 181px;

               img {
                  width: 123px;
               }
            }
         }
      }
   }

   @media all and (min-width: 1201px) {

   }

   @media all and (max-width: 1200px) {
      background-size: 1152px auto;

      .win__benefits-img {
         .img-1 {
            width: 360px;
         }

         .win__benefits-item {
            span {
               font-size: 24px;
               line-height: 25px;
            }

            .win__benefits-item-img {
               width: 55px;

               img {
                  width: 55px;
               }
            }

            &.item {
               span {
                  display: none;
               }
            }

            &.item-1 {
               top: 14px;
               left: calc(50% - 27px);
            }

            &.item-2 {
               top: 73px;
               right: calc(50% - 164px);
            }

            &.item-3 {
               top: 210px;
               right: calc(50% - 136px);
            }

            &.item-4 {
               top: 281px;
               right: calc(50% - 29px);
            }

            &.item-5 {
               top: 213px;
               left: calc(50% - 136px);
            }

            &.item-6 {
               top: 73px;
               left: calc(50% - 164px);
            }
         }

         .win__benefits-ghost {
            &.ghost-4 {
               top: -1px;
               right: calc(50% - 142px);;

               img {
                  width: 78px;
               }
            }

            &.ghost-2 {
               top: 293px;
               right: calc(50% - 146px);

               img {
                  width: 121px;
               }
            }

            &.ghost-1 {
               top: 138px;
               left: calc(50% - 191px);

               img {
                  width: 63px;
               }
            }

            &.ghost-3 {
               top: 415px;
               left: 181px;

               img {
                  width: 80px;
                  transform: rotateY(-180deg);
               }
            }
         }
      }
   }

   @media all and (min-width: 769px) {
      padding: 0 30px;

      .win__title {
         h2 {
            font-size: 88px;
         }

         span {
            &::after {
               right: -245px;
               top: -195px;
               width: 223px;
               height: 273px;
            }
         }
      }

      .win__subtitle {
         font-size: 21px;
         line-height: 24px;
         margin-bottom: 100px;
      }
   }

   @media all and (max-width: 768px) {
      padding: 0 15px;

      .win__title {
         max-width: 200px;

         h2 {
            font-size: 68px;
            line-height: 48px;
         }

         span {
            &::after {
               right: -211px;
               top: -90px;
               width: 122px;
               height: 150px;
               background-size: 122px 150px;
            }
         }
      }

      .win__subtitle {
         font-size: 18px;
         line-height: 22px;
         margin-top: 10px;
         margin-bottom: 100px;
      }
   }
}
// end . win


// suggestion
.suggestion.home {
   background: url("../images/suggestion_bg.jpg") center top no-repeat;
   .suggestion__body {
      display: flex;
      justify-content: center;
      align-items: flex-start;
   }

   .suggestion__img {
      position: relative;

      img {
         width: 1455px;
         height: 749px;
      }
   }

   .sugesstion__info {
      position: absolute;
      top: 125px;
      left: 138px;
      right: 190px;
      bottom: 125px;

      .sugesstion__info-text {
         .ubuntu();
         font-size: 18px;
         line-height: 29px;
         color: #fff;
         text-align: center;
         margin-bottom: 35px;

         &:first-child {
            margin-bottom: 0;
         }

         &.last {
            max-width: 715px;
            margin: 0 auto;
            margin-bottom: 35px;
         }

         span {
            font-size: 20px;
            color: #fcf44f;
         }
      }

      .sugesstion__button {
         border: none;
         width: 254px;
         height: 85px;
         .ubuntu();
         font-weight: 400;
         text-transform: uppercase;
         font-size: 23px;
         color: #000;
         background: url("../images/suggestion_button.png") center center no-repeat;
         margin: 0 auto;
         display: block;
         cursor: pointer;

         span {
            margin-top: -10px;
            display: block;
         }
      }
   }
}
// end . suggestion


// clients
.clients.home {
   background: url(../images/clients_bg.jpg) center top no-repeat;
   margin-top: -21px;

   .clients__body {
      max-width: 1150px;
      margin: 0 auto;
   }

   .clients__title {
      padding-top: 30px;

      h2 {
         .bearpaw();
         color: #fcf44f;
         width: 100%;
         font-size: 88px;
         padding-top: 72px;
      }

      span {
         position: relative;

         &::after {
            content: '';
            position: absolute;
            background: url("../images/candle_3.png") center center no-repeat;
            right: -245px;
            top: -195px;
            width: 223px;
            height: 273px;
         }
      }
   }

   .clients__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 130px 0 50px 0;
      box-sizing: border-box;
   }

   .clients__item {
      margin-bottom:  40px;
      margin-right: 52px;

      img {
         display: block;
      }
   }
}
// end . clients


// contacts
.contacts.home {
   background: url(../images/contacts_bg.jpg) center top no-repeat;

   .contacts__body {
      padding-bottom: 465px;
      box-sizing: border-box;
   }

   .contacts__title {
      padding-top: 30px;

      h2 {
         .bearpaw();
         color: #fcf44f;
         width: 100%;
         font-size: 88px;
         padding-top: 72px;
         text-align: center;
      }
   }

   .contacts__prizes {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      position: relative;
      width: 600px;
      height: 864px;
      z-index: 2;

      .contacts__candle {
         position: absolute;

         &.left {
            top: -95px;
            left: calc(50% - 600px);

            img {
               width: 330px;
            }
         }

         &.right {
            top: 187px;
            right: calc(50% - 530px);

            img {
               width: 225px;
            }
         }
      }

      .scroll {
         position: absolute;
         top: 0;
         left: 0;
         z-index: 2;
         pointer-events: none;

         img {
            width: 600px;
         }
      }

      .scroll-canvas {
         position: absolute;
         top: 68px;
         left: calc(50% - 243px);
         width: 486px;
         z-index: 2;
         background: url("../images/scroll_part2.png") center bottom no-repeat;
         background-size: cover;
         padding-bottom: 30px;
      }

      .contacts__text {
         .ubuntu();
         font-weight: 400;
         font-size: 21px;
         color: #fcf44f;
         text-align: center;
         margin: 25px 50px;
      }

      .contacts__form {
         .contacts__form-row {
            margin: 0 50px;
            position: relative;

            span {
               position: absolute;
               top: 5px;
               left: 12px;
               .ubuntu();
               color: #caa064;
               font-size: 12px;
            }
         }

         .contacts__form-input {
            display: block;
            width: 100%;
            border: 1px solid #caa064;
            box-sizing: border-box;
            background-color: transparent;
            padding: 12px;
            margin-bottom: 18px;
            .ubuntu();
            font-weight: 300;
            font-size: 18px;
            color: #fff;
            outline: none;

            &.first {
               padding: 16px 12px 8px 12px;
               margin-bottom: 10px;
            }

            &:focus {
               border: 1px solid #fff;
            }

            &::placeholder {
               .ubuntu();
               font-weight: 300;
               font-size: 17px;
               color: #caa064;
            }
         }

         .socials {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            img {
               width: 21px;
               height: 21px;
               margin-left: 10px;
               display: block;
            }
         }
      }

      .get-your-prizes {
         width: 236px;
         height: 67px;
         background: url("../images/button_bg_type1.png") center center no-repeat;
         background-size: cover;
         cursor: pointer;
         display: block;
         margin: 0 auto;
         margin-top: 80px;
         .ubuntu();
         font-size: 23px;
         color: #000;
         font-weight: 400;

         span {
            margin-top: -10px;
            display: block;
         }
      }
   }

   .portal {
      margin-top: -90px;
      position: absolute;
      bottom: -373px;
      left: calc(50% - 615px);
      z-index: 1;
      width: 1193px;
      height: 465px;
      background: url("../images/portal.png") center center no-repeat;
   }
}
// end . contacts


// footer
.footer {
   background: url("../images/footer_bg.png") center -124px no-repeat;
   position: relative;

   &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      background: url("../images/footer_bg2.png") center center no-repeat;
      width: 100%;
      height: 459px;
      z-index: 3;
   }

   @keyframes footerFire {
      0% { background-position-y:   0; }
      100% { background-position-y: 100%; }
   }

   .footer__body {
      position: relative;
      max-width: 1365px;
      margin: 0 auto;
      z-index: 4;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 20px;

      &::after {
         content: '';
         position: absolute;
         z-index: 5;
         top: -165px;
         left: 0;
         width: 100%;
         height: 155px;
         background-image: url("../images/footer_fire.png");
         animation: footerFire 0.8s steps(11) infinite;
      }
   }

   .footer__logo {
      margin-right: 10px;

      img {
         width: 136px;
      }
   }

   .footer__contacts {
      display: flex;

      .footer__contacts-text {
         .ubuntu();
         font-weight: 400;
         font-size: 18px;
         color: #ef2524;
         margin-right: 18px;
      }

      .footer__contacts-list {
         display: flex;
      }

      .footer__contacts-item {
         display: flex;
         align-items: center;
         margin-right: 38px;
         text-decoration: none;
         color: #000;

         img {
            display: block;
            margin-right: 5px;
         }

         span {
            .ubuntu();
            font-weight: 400;
         }
      }
   }

   .footer__bottom {
      display: flex;
      align-items: center;
      margin-top: 7px;

      .footer__bottom-contact {
         display: flex;
         margin-right: 10px;

         span {
            .ubuntu();
            font-weight: 400;
            color: #31144f;
            display: block;
            margin-right: 2px;
         }

         a {
            color: #dd1b2a;
         }
      }

      .footer__bottom-copyright {
         margin-right: 18px;
         .ubuntu();
         font-weight: 400;
         font-size: 15px;
         color: #261138;
      }

      .footer__bottom-img {
         display: block;
      }
   }
}
// end . footer