@import 'fonts.css';
.body-wrap {
  max-width: 1920px;
  margin: 0 auto;
}
body {
  font-style: normal;
}
.header-top {
  background: url("../images/header_bg.jpg") center center no-repeat;
  background-size: cover;
  box-sizing: border-box;
}
.header-top .header-top__body {
  max-width: 1155px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header-top .header-top__contacts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 355px;
  margin-top: 22px;
  margin-bottom: 22px;
}
.header-top .header-top__contacts .header-top__contacts-item {
  width: 50%;
  display: flex;
  align-items: center;
}
.header-top .header-top__contacts .header-top__contacts-item:first-child img {
  opacity: 0;
}
.header-top .header-top__contacts .header-top__contacts-item .title {
  font-family: 'Ubuntu', sans-serif;
  color: #ef2524;
  font-size: 16px;
  line-height: 36px;
  text-align: right;
}
.header-top .header-top__contacts .header-top__contacts-item img {
  display: block;
  margin-right: 4px;
  width: 25px;
}
.header-top .header-top__contacts .header-top__contacts-item .link {
  text-decoration: none;
  color: #ffc10e;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 36px;
}
.header-top .header-top__logo {
  position: absolute;
  top: 0;
}
.header-top .header-top__logo .logo {
  position: absolute;
}
.header-top .header-top__navigation {
  display: flex;
  align-items: center;
}
.header-top .header-top__navigation .header-top__b2b img {
  width: 53px;
  display: block;
  margin-right: 35px;
}
.header-top .header-top__navigation .header-top__menu {
  display: flex;
  align-items: center;
}
.header-top .header-top__navigation .header-top__menu span {
  font-family: 'Ubuntu', sans-serif;
  color: #ffc10e;
  font-size: 16px;
  text-transform: uppercase;
  margin-right: 10px;
}
.header-top .header-top__navigation .header-top__menu .menu {
  width: 72px;
  cursor: pointer;
  position: relative;
}
.header-top .header-top__navigation .header-top__menu .menu__body svg path {
  fill: #af0104;
}
.header-top .header-top__navigation .header-top__menu .menu__button {
  position: absolute;
  top: -4px;
  left: calc(50% - 17.875px);
}
.header-top .header-top__navigation .header-top__menu .menu__button svg path {
  fill: #f5b90f;
}
.header-top .header-top__navigation .header-top__languages {
  position: relative;
  padding-right: 17px;
  box-sizing: border-box;
}
.header-top .header-top__navigation .header-top__languages .header-top__languages-title {
  display: flex;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  color: #ffc10e;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
}
.header-top .header-top__navigation .header-top__languages .header-top__languages-title img {
  width: 36px;
  display: block;
  margin-right: 10px;
}
.header-top .header-top__navigation .header-top__languages .header-top__languages-title::after {
  content: '';
  position: absolute;
  top: 16px;
  right: 0;
  background: url("../images/arrow_tri.png") center center no-repeat;
  width: 12px;
  height: 6px;
}
.header-top .header-top__navigation .header-top__languages .header-top__languages-list {
  position: absolute;
  top: 0;
  left: 0;
  height: 36px;
  overflow: hidden;
}
.header-top .header-top__navigation .header-top__languages li {
  display: flex;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  color: #ffc10e;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  text-transform: uppercase;
}
.header-top .header-top__navigation .header-top__languages li img {
  width: 36px;
  display: block;
  margin-right: 10px;
}
@media all and (min-width: 1025px) {
  .header-top .header-top__body {
    height: 118px;
  }
  .header-top .header-top__b2b.mobile {
    display: none;
  }
  .header-top .header-top__logo {
    width: 337px;
    left: calc(50% - 168.5px);
  }
  .header-top .header-top__logo .logo-before img {
    width: 337px;
  }
  .header-top .header-top__logo .logo {
    top: 1px;
    left: calc(50% - 121px);
  }
  .header-top .header-top__logo .logo img {
    width: 256px;
  }
  .header-top .header-top__navigation .header-top__menu span {
    margin-top: 10px;
  }
  .header-top .header-top__navigation .header-top__menu .menu {
    margin-top: 10px;
  }
  .header-top .header-top__languages {
    margin-top: 10px;
  }
  .header-top .header-top__languages .header-top__languages-title {
    margin-bottom: 10px;
  }
}
@media all and (max-width: 1024px) {
  .header-top .header-top__body {
    height: 68px;
  }
  .header-top .header-top__contacts {
    display: none;
  }
  .header-top .header-top__b2b.pc {
    display: none;
  }
  .header-top .header-top__logo {
    width: 190px;
    left: 38px;
  }
  .header-top .header-top__logo .logo-before img {
    width: 190px;
  }
  .header-top .header-top__logo .logo {
    top: 1px;
    left: calc(50% - 65px);
  }
  .header-top .header-top__logo .logo img {
    width: 138px;
  }
  .header-top .header-top__navigation .header-top__menu .menu__button {
    top: 1px;
  }
  .header-top .header-top__navigation .header-top__menu .menu__button svg {
    height: 25px;
  }
  .header-top .header-top__languages .header-top__languages-title {
    margin-bottom: 0;
  }
}
@media all and (min-width: 769px) {
  .header-top {
    padding: 0 30px;
  }
  .header-top .header-top__navigation .header-top__menu .menu__button svg path {
    transition: fill 0.2s ease-in-out;
  }
  .header-top .header-top__navigation .header-top__menu .menu__button svg:hover path {
    fill: #fff;
    transition: fill 0.2s ease-in-out;
  }
}
@media all and (max-width: 768px) {
  .header-top {
    padding: 0 15px;
  }
}
@media all and (min-width: 501px) {
  .header-top .header-top__navigation .header-top__menu span {
    display: none;
  }
  .header-top .header-top__navigation .header-top__menu .menu {
    margin-right: 38px;
  }
}
@media all and (max-width: 500px) {
  .header-top .header-top__navigation .header-top__menu span {
    display: none;
  }
  .header-top .header-top__navigation .header-top__menu .menu {
    margin-right: 15px;
  }
}
.top-block.home {
  box-sizing: border-box;
}
.top-block.home .top-block__body {
  max-width: 1250px;
  margin: 0 auto;
  position: relative;
}
.top-block.home .top-block__title {
  font-family: 'Bearpaw', serif;
  color: #ffc10e;
  text-align: center;
}
.top-block.home .roulette .roulette__prize {
  display: none;
}
.top-block.home .roulette .roulette__wheel-lights {
  position: relative;
  z-index: 2;
}
.top-block.home .roulette .roulette__wheel-spin {
  position: absolute;
  z-index: 1;
}
.top-block.home .roulette .roulette__wheel-spin.pulse {
  animation: drumLoader 0.5s infinite linear;
}
.top-block.home .roulette .roulette__wheel-spin.rotate {
  animation: wheelSpinLoader 1.2s ease-out;
}
.top-block.home .roulette .roulette__wheel-prize-wrap {
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.top-block.home .roulette .roulette__wheel-prize-wrap.show {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.top-block.home .roulette .roulette__wheel-prize-wrap .wheel-prize {
  position: absolute;
  z-index: 3;
}
.top-block.home .roulette .roulette__spin-btn {
  position: absolute;
  z-index: 2;
  cursor: pointer;
}
.top-block.home .roulette .roulette__spin-btn.active {
  cursor: none;
}
.top-block.home .roulette .roulette__spin-btn.active span {
  transform: scale(0.8);
  filter: brightness(1);
}
.top-block.home .roulette .roulette__spin-btn.active .spin-bg {
  filter: brightness(1);
}
.top-block.home .roulette .roulette__spin-btn.active:hover span {
  transform: scale(0.8);
  filter: brightness(1);
}
.top-block.home .roulette .roulette__spin-btn.active:hover .spin-bg {
  filter: brightness(1);
}
.top-block.home .roulette .roulette__spin-btn .spin-bg {
  display: block;
  filter: brightness(1.3);
  transition: filter 0.2s ease-in-out;
}
.top-block.home .roulette .roulette__spin-btn span {
  position: absolute;
  transform: scale(0.9);
  filter: brightness(1.3);
  transition: transform 0.2s ease-in-out;
}
.top-block.home .roulette .roulette__spin-btn span img {
  display: block;
}
@keyframes wheelSpinLoader {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes drumLoader {
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.025);
  }
  0% {
    transform: scale(1);
  }
}
.top-block.home .top-block__candle {
  position: absolute;
  bottom: -26px;
}
.top-block.home .top-block__candle img {
  width: 350px;
}
.top-block.home .top-block__get-win {
  cursor: pointer;
}
.top-block.home .top-block__get-win img {
  width: 199px;
  transition: filter 0.2s ease-in-out;
}
.top-block.home .top-block__get-win img:hover {
  filter: brightness(1.3);
  transition: filter 0.2s ease-in-out;
}
.top-block.home .top-block__prizes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
.top-block.home .top-block__prizes .scroll {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}
.top-block.home .top-block__prizes .scroll-canvas {
  position: absolute;
  top: 40px;
  z-index: 1;
  background: url("../images/scroll_part2.png") center bottom no-repeat;
  background-size: cover;
}
.top-block.home .top-block__prizes .get-your-prizes {
  background: url("../images/button_bg_type1.png") center center no-repeat;
  background-size: cover;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 23px;
  color: #000;
  font-weight: 400;
}
.top-block.home .top-block__prizes .get-your-prizes .try {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}
.top-block.home .top-block__prizes .get-your-prizes span {
  display: block;
  margin-right: 7px;
}
@media all and (min-width: 1471px) {
  .top-block.home .top-block__candle.left {
    left: -212px;
  }
  .top-block.home .top-block__candle.right {
    right: -212px;
  }
}
@media all and (max-width: 1470px) {
  .top-block.home .top-block__candle.left {
    left: -73px;
  }
  .top-block.home .top-block__candle.right {
    right: -73px;
  }
}
@media all and (min-width: 1306px) {
  .top-block.home {
    background: #2e0622 url("../images/top_block_bg.jpg") center center no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  .top-block.home .top-block__body {
    max-width: 1250px;
    height: 987px;
  }
  .top-block.home .roulette {
    position: absolute;
    left: -51px;
    top: 203px;
  }
  .top-block.home .top-block__prizes {
    top: 0;
    left: calc(50% - 585px);
  }
  .top-block.home .top-block__get-win {
    position: absolute;
    right: 32px;
    top: 128px;
  }
}
@media all and (max-width: 1305px) {
  .top-block.home {
    background-image: url("../images/top_block_bg_mobile_top.jpg"), url("../images/top_block_bg_mobile_bottom.jpg");
    background-color: #2f0722;
    background-position: center top, center bottom;
    background-repeat: no-repeat, no-repeat;
  }
  .top-block.home .top-block__body {
    display: flex;
    flex-direction: column;
  }
  .top-block.home .roulette {
    position: relative;
    margin: 0 auto;
    order: 1;
  }
  .top-block.home .roulette .roulette__wheel-prize-wrap {
    right: calc(50% - 55px);
  }
  .top-block.home .top-block__prizes {
    order: 2;
    min-height: 1005px;
    top: -18px;
  }
  .top-block.home .top-block__get-win {
    position: absolute;
    left: calc(50% - 173px);
    bottom: 100px;
    order: 3;
  }
  .top-block.home .top-block__candle {
    display: none;
  }
}
@media all and (min-width: 769px) {
  .top-block.home {
    padding: 0 30px;
  }
  .top-block.home .top-block__title {
    font-size: 78px;
    line-height: 60px;
    padding-top: 60px;
  }
  .top-block.home .roulette .roulette__wheel-lights img {
    width: 560px;
  }
  .top-block.home .roulette .roulette__wheel-spin {
    left: 70px;
    top: 68px;
  }
  .top-block.home .roulette .roulette__spin-btn {
    left: 238px;
    top: 244px;
  }
  .top-block.home .roulette .roulette__spin-btn:hover span {
    transform: scale(1);
    filter: brightness(1.8);
    transition: transform 0.2s ease-in-out;
  }
  .top-block.home .roulette .roulette__spin-btn:hover .spin-bg {
    filter: brightness(1.8);
    transition: filter 0.2s ease-in-out;
  }
  .top-block.home .roulette .roulette__spin-btn .spin-bg {
    width: 86px;
    height: 86px;
  }
  .top-block.home .roulette .roulette__spin-btn span {
    top: 19px;
    left: -13px;
  }
  .top-block.home .roulette .roulette__spin-btn span img {
    width: 113px;
    height: 46px;
  }
  .top-block.home .roulette .roulette__wheel-prize-wrap {
    right: 37px;
    top: 99px;
  }
  .top-block.home .roulette .roulette__wheel-prize-wrap .wheel-prize {
    right: 68px;
    top: calc(50% - 52px);
  }
  .top-block.home .roulette .roulette__wheel-prize-wrap .wheel-prize img {
    width: 100px;
  }
  .top-block.home .top-block__prizes {
    width: 415px;
  }
  .top-block.home .top-block__prizes .scroll img {
    width: 415px;
  }
  .top-block.home .top-block__prizes .scroll-canvas {
    left: calc(50% - 160px);
    width: 320px;
  }
  .top-block.home .top-block__prizes .scroll-canvas {
    padding-bottom: 20px;
  }
  .top-block.home .top-block__prizes .get-your-prizes {
    width: 236px;
    height: 67px;
  }
}
@media all and (max-width: 768px) {
  .top-block.home {
    padding: 0 15px;
  }
  .top-block.home .top-block__title {
    font-size: 53px;
    line-height: 37px;
    padding-top: 45px;
  }
  .top-block.home .roulette .roulette__wheel-lights img {
    width: 350px;
  }
  .top-block.home .roulette .roulette__wheel-spin {
    left: calc(50% - 135px);
    top: calc(50% - 135px);
  }
  .top-block.home .roulette .roulette__wheel-spin img {
    width: 270px;
  }
  .top-block.home .roulette .roulette__spin-btn {
    left: calc(50% - 32.5px);
    top: calc(50% - 32.5px);
  }
  .top-block.home .roulette .roulette__spin-btn .spin-bg {
    width: 65px;
    height: 65px;
  }
  .top-block.home .roulette .roulette__spin-btn span {
    top: calc(50% - 16.5px);
    left: calc(50% - 44px);
  }
  .top-block.home .roulette .roulette__spin-btn span img {
    width: 88px;
  }
  .top-block.home .roulette .roulette__wheel-prize-wrap {
    right: 30px;
    top: 54px;
  }
  .top-block.home .roulette .roulette__wheel-prize-wrap img {
    width: 160px;
  }
  .top-block.home .roulette .roulette__wheel-prize-wrap .wheel-prize {
    right: 35px;
    top: calc(50% - 30px);
  }
  .top-block.home .roulette .roulette__wheel-prize-wrap .wheel-prize img {
    width: 60px;
  }
  .top-block.home .top-block__prizes {
    width: 350px;
  }
  .top-block.home .top-block__prizes .scroll img {
    width: 350px;
  }
  .top-block.home .top-block__prizes .scroll-canvas {
    left: calc(50% - 125px);
    width: 250px;
  }
  .top-block.home .top-block__prizes .scroll-canvas {
    padding-bottom: 12px;
  }
  .top-block.home .top-block__prizes .get-your-prizes {
    width: 200px;
    height: 60px;
  }
}
.products.home {
  box-sizing: border-box;
  background: #280521 url("../images/products_bg.jpg") center calc(100% + 325px) no-repeat;
}
.products.home .products__body {
  margin: 0 auto;
  max-width: 1265px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
.products.home .products__title {
  font-family: 'Bearpaw', serif;
  color: #fcf44f;
  position: relative;
  display: inline-block;
}
.products.home .products__title::after {
  content: '';
  position: absolute;
  background: url("../images/candle_3.png") center center no-repeat;
}
.products.home .products__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 90px -30px 0 -30px;
}
.products.home .products__list.all .products__item {
  display: block;
}
.products.home .products__item {
  width: 360px;
  min-height: 270px;
  margin: 0 30px 75px 30px;
  display: none;
}
.products.home .products__item:nth-child(1),
.products.home .products__item:nth-child(2),
.products.home .products__item:nth-child(3),
.products.home .products__item:nth-child(4),
.products.home .products__item:nth-child(5),
.products.home .products__item:nth-child(6) {
  display: block;
}
.products.home .products__item .products__img {
  position: relative;
  width: 360px;
  height: 270px;
}
.products.home .products__item .products__img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.products.home .products__item .products__img:hover::before {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.products.home .products__item .products__img:hover .products__play-button {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.products.home .products__item .products__img:hover .border {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.products.home .products__item .products__img:hover .fire {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.products.home .products__item .products__item-title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 21px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 35px;
}
.products.home .products__item .products__play-button {
  position: absolute;
  left: calc(50% - 127px);
  top: 145px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  text-decoration: none;
  z-index: 3;
}
.products.home .products__item .products__play-button button {
  border: none;
  width: 254px;
  height: 85px;
  background: url("../images/button_play.png") center center no-repeat;
  font-family: 'Ubuntu', sans-serif;
  font-size: 23px;
  line-height: 27px;
  color: #000;
  padding-bottom: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.products.home .products__item .border {
  position: absolute;
  top: -35px;
  left: -35px;
  bottom: -31px;
  right: -35px;
  z-index: 1;
  transition: opacity 0.2s ease-in-out;
}
.products.home .products__item .border img {
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease-in-out;
}
.products.home .products__item .fire {
  position: absolute;
  top: -15px;
  left: 0;
  z-index: 2;
}
.products.home .products__button-all {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  color: #fff;
  background-color: #290521;
  border: 1px solid #fff;
  border-radius: 35px;
  box-sizing: border-box;
  padding: 10px 50px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  box-shadow: 1px 0px 16px 10px #5a0822;
  transition: color 0.2s ease-in-out;
}
.products.home .products__button-all:hover {
  color: #f5b90f;
  transition: color 0.2s ease-in-out;
}
@media all and (min-width: 769px) {
  .products.home {
    padding: 0 30px;
  }
  .products.home .products__title {
    font-size: 88px;
    padding-top: 72px;
  }
  .products.home .products__title::after {
    right: -245px;
    top: -113px;
    width: 223px;
    height: 273px;
  }
}
@media all and (max-width: 768px) {
  .products.home {
    padding: 0 15px;
  }
  .products.home .products__title {
    font-size: 68px;
    padding-top: 40px;
  }
  .products.home .products__title::after {
    right: -148px;
    top: -55px;
    width: 130px;
    height: 159px;
    background-size: cover;
  }
}
.about.home {
  background: #2a0520 url("../images/about_bg.jpg") center top no-repeat;
  box-sizing: border-box;
}
.about.home .about__body {
  max-width: 1270px;
  margin: 0 auto;
}
.about.home .about__title {
  font-family: 'Bearpaw', serif;
  color: #fcf44f;
  width: 100%;
}
.about.home .about__title span {
  position: relative;
}
.about.home .about__title span::after {
  content: '';
  position: absolute;
  background: url("../images/candle_3.png") center center no-repeat;
}
.about.home .about__content {
  display: flex;
}
.about.home .about__left {
  position: relative;
}
.about.home .about__left.mobile {
  display: none;
}
.about.home .about__left .about__file {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@keyframes fileCircle {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}
.about.home .about__left .about__file-circle {
  position: absolute;
  z-index: 1;
  animation: fileCircle 0.9s infinite linear;
}
.about.home .about__left .about__file-img {
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about.home .about__left .about__file-text {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  text-align: center;
  display: block;
}
.about.home .about__right .about__description {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  margin-top: 15px;
}
.about.home .about__right .about__canvas {
  box-sizing: border-box;
}
.about.home .about__right .about__canvas-line {
  display: flex;
}
.about.home .about__right .about__canvas-line .img-1 {
  display: block;
}
.about.home .about__right .about__canvas-line .about__canvas-subline {
  display: flex;
}
.about.home .about__right .about__canvas-line .img-2__body {
  display: flex;
  align-items: flex-start;
  position: relative;
}
.about.home .about__right .about__canvas-line .img-2__body::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
}
.about.home .about__right .about__canvas-line .img-2 {
  width: 36px;
  display: block;
  margin-right: 10px;
}
.about.home .about__right .about__canvas-line .img-2__text span {
  display: block;
  font-family: 'Ubuntu', sans-serif;
}
.about.home .about__right .about__canvas-line .img-2__text span:first-child {
  font-weight: 400;
  color: #fcf44f;
  font-size: 26px;
  line-height: 26px;
  text-decoration: underline;
}
.about.home .about__right .about__canvas-line .img-2__text span:last-child {
  font-weight: 300;
  color: #fff;
  font-size: 16px;
}
.about.home .about__right .about__canvas-line .img-3 {
  display: block;
}
.about.home .about__right .about__canvas-line .pdfs {
  display: flex;
}
.about.home .about__right .about__canvas-line .pdf {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about.home .about__right .about__canvas-line .pdf img {
  width: 48px;
  height: 60px;
  display: block;
}
.about.home .about__right .about__canvas-line .pdf span {
  display: block;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  text-decoration: underline;
}
.about.home .about__right .about__languages .about__languages-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.about.home .about__right .about__languages .about__languages-title svg path {
  fill: #fcf44f;
}
.about.home .about__right .about__languages .about__languages-title span {
  color: #fcf44f;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 22px;
  display: block;
  margin-left: 10px;
}
.about.home .about__right .about__languages .about__languages-list {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.about.home .about__right .about__languages .about__language {
  display: flex;
  align-items: center;
}
.about.home .about__right .about__languages .about__language img {
  width: 24px;
}
.about.home .about__right .about__languages .about__language span {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  color: #fff;
  display: block;
}
.about.home .about__right .about__info {
  margin-top: 15px;
}
.about.home .about__right .about__info .about-info__text {
  display: flex;
  align-items: center;
}
.about.home .about__right .about__info .about-info__text svg {
  margin-right: 10px;
}
.about.home .about__right .about__info .about-info__text svg path {
  fill: #fcf44f;
}
.about.home .about__right .about__info .about-info__text p {
  color: #fcf44f;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
@media all and (min-width: 1401px) {
  .about.home .about__title {
    text-align: center;
    margin-left: 65px;
  }
  .about.home .about__left {
    width: 530px;
  }
  .about.home .about__left .about__left-img {
    width: 530px;
  }
  .about.home .about__left .about__file {
    top: 125px;
    right: 52px;
  }
  .about.home .about__left .about__file-img img {
    width: 65px;
  }
  .about.home .about__left .about__file-text {
    font-size: 22px;
    line-height: 36px;
    max-width: 150px;
    margin-top: 40px;
  }
  .about.home .about__left .about__file-circle {
    top: -45px;
    right: -12px;
  }
  .about.home .about__right {
    margin-left: 45px;
  }
  .about.home .about__right .about__left.mobile-hell {
    display: none;
  }
  .about.home .about__right .about__description {
    margin-top: 15px;
  }
  .about.home .about__right .about__canvas {
    background: url("../images/about_canvas.png") center top no-repeat;
    background-size: cover;
    margin: 10px -50px 0 -50px;
    padding-top: 75px;
    padding-bottom: 65px;
    padding-left: 50px;
  }
  .about.home .about__right .about__canvas-line .img-1 {
    margin-right: 75px;
  }
  .about.home .about__right .about__canvas-line .img-2__body {
    margin-top: 27px;
  }
  .about.home .about__right .about__canvas-line .pdfs {
    margin-left: 105px;
  }
  .about.home .about__right .about__canvas-line .pdf {
    margin-right: 42px;
  }
  .about.home .about__right .about__languages {
    margin-top: 40px;
  }
  .about.home .about__right .about__languages .about__languages-list {
    padding: 0 32px;
  }
  .about.home .about__right .about__languages .about__language {
    width: 33.3333%;
    margin-bottom: 18px;
  }
  .about.home .about__right .about__languages .about__language span {
    font-size: 20px;
    margin-left: 10px;
  }
  .about.home .about__right .about__info {
    margin-top: 15px;
  }
  .about.home .about__right .about__info .about-info__text {
    margin-bottom: 24px;
  }
  .about.home .about__right .about__info .about-info__text p {
    font-size: 22px;
    line-height: 36px;
  }
}
@media all and (max-width: 1400px) {
  .about.home .about__content {
    flex-direction: column;
    justify-content: center;
  }
  .about.home .about__left {
    width: 320px;
    margin: 0 auto;
  }
  .about.home .about__left.pc {
    display: none;
  }
  .about.home .about__left .about__left-img {
    width: 100%;
    max-width: 320px;
  }
  .about.home .about__left .about__file {
    top: 70px;
    right: 0;
  }
  .about.home .about__left .about__file-img img {
    width: 47px;
  }
  .about.home .about__left .about__file-text {
    font-size: 18px;
    line-height: 26px;
    max-width: 145px;
    margin-top: 20px;
  }
  .about.home .about__left .about__file-circle {
    top: -30px;
    right: 17px;
  }
  .about.home .about__left .about__file-circle img {
    width: 120px;
  }
  .about.home .about__right .about__description {
    margin-bottom: 20px;
  }
  .about.home .about__right .about__canvas {
    background: url("../images/about_canvas_mobile.png") center top no-repeat;
    background-size: 462px 638px;
    padding-top: 55px;
    padding-bottom: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 447px;
    margin: 0 auto;
  }
  .about.home .about__right .about__canvas-line .img-1 {
    width: 90px;
    height: 90px;
    margin-right: 25px;
  }
  .about.home .about__right .about__canvas-line .about__canvas-subline {
    flex-direction: column;
  }
  .about.home .about__right .about__canvas-line .img-2__body {
    margin-bottom: 10px;
  }
  .about.home .about__right .about__canvas-line .pdfs {
    margin-right: 32px;
  }
  .about.home .about__right .about__canvas-line .pdf {
    margin-right: 21px;
  }
  .about.home .about__right .about__languages {
    margin-top: 15px;
  }
  .about.home .about__right .about__languages .about__languages-list {
    max-width: 360px;
    padding: 0 10px;
  }
  .about.home .about__right .about__languages .about__language {
    width: 50%;
    max-width: 160px;
    margin-right: 10px;
    margin-bottom: 14px;
  }
  .about.home .about__right .about__languages .about__language span {
    font-size: 18px;
    margin-left: 7px;
  }
  .about.home .about__right .about__info {
    margin-top: 10px;
    max-width: 360px;
  }
  .about.home .about__right .about__info .about-info__text {
    margin-bottom: 10px;
  }
  .about.home .about__right .about__info .about-info__text svg {
    width: 36px;
    height: 36px;
  }
  .about.home .about__right .about__info .about-info__text p {
    font-size: 18px;
    line-height: 22px;
  }
}
@media all and (min-width: 769px) {
  .about.home {
    padding: 0 30px;
  }
  .about.home .about__title {
    font-size: 88px;
    padding-top: 100px;
  }
  .about.home .about__title span::after {
    right: -245px;
    top: -195px;
    width: 223px;
    height: 273px;
  }
  .about.home .about__right .about__description {
    font-size: 20px;
    line-height: 36px;
  }
}
@media all and (max-width: 768px) {
  .about.home {
    padding: 0 15px;
  }
  .about.home .about__title {
    font-size: 68px;
    padding-top: 50px;
  }
  .about.home .about__title span::after {
    right: -157px;
    top: -90px;
    width: 122px;
    height: 150px;
    background-size: 122px 150px;
  }
  .about.home .about__right .about__description {
    font-size: 18px;
    line-height: 30px;
  }
}
.win {
  box-sizing: border-box;
  background: #4a0c23 url("../images/win_bg_2.png") center 80px no-repeat;
}
.win .win__body {
  max-width: 1135px;
  margin: 0 auto;
}
.win .win__title h2 {
  font-family: 'Bearpaw', serif;
  color: #fcf44f;
  width: 100%;
  font-size: 88px;
  padding-top: 72px;
}
.win .win__title span {
  position: relative;
}
.win .win__title span::after {
  content: '';
  position: absolute;
  background: url("../images/candle_3.png") center center no-repeat;
  right: -245px;
  top: -195px;
  width: 223px;
  height: 273px;
}
.win .win__subtitle {
  font-family: 'Ubuntu', sans-serif;
  font-size: 21px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 100px;
}
.win .win__benefits-img {
  position: relative;
}
.win .win__benefits-img .img-1 {
  display: block;
  margin: 0 auto;
}
.win .win__benefits-img .win__benefits-question {
  position: relative;
  margin-top: 85px;
  padding-bottom: 50px;
}
.win .win__benefits-img .win__benefits-question img {
  display: block;
  margin: 0 auto;
}
.win .win__benefits-img .win__benefits-question span {
  position: absolute;
  top: 61px;
  left: 310px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
}
.win .win__benefits-img .win__benefits-item {
  position: absolute;
}
.win .win__benefits-img .win__benefits-item span {
  position: absolute;
  font-family: "Electron Regular", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 25px;
  color: #c60004;
  text-shadow: -3px -3px 0 #fcf44f, 3px -3px 0 #fcf44f, -3px 3px 0 #fcf44f, 3px 3px 0 #fcf44f;
}
.win .win__benefits-img .win__benefits-item .win__benefits-item-img {
  width: 170px;
}
.win .win__benefits-img .win__benefits-item.item-1 {
  top: 42px;
  left: calc(50% - 70px);
}
.win .win__benefits-img .win__benefits-item.item-1 span {
  width: 500px;
  top: -75px;
  left: calc(50% - 225px);
  font-size: 48px;
}
.win .win__benefits-img .win__benefits-item.item-2 {
  top: 238px;
  right: 26px;
}
.win .win__benefits-img .win__benefits-item.item-2 span {
  width: 535px;
  top: -55px;
  left: calc(50% - 250px);
}
.win .win__benefits-img .win__benefits-item.item-3 {
  top: 688px;
  right: 108px;
}
.win .win__benefits-img .win__benefits-item.item-3 span {
  width: 245px;
  top: -30px;
  right: -300px;
  line-height: 42px;
}
.win .win__benefits-img .win__benefits-item.item-4 {
  top: 918px;
  right: calc(50% - 98px);
}
.win .win__benefits-img .win__benefits-item.item-4 span {
  width: 540px;
  top: 211px;
  right: calc(50% - 285px);
  line-height: 42px;
}
.win .win__benefits-img .win__benefits-item.item-5 {
  top: 683px;
  left: 140px;
}
.win .win__benefits-img .win__benefits-item.item-5 span {
  top: -12px;
  left: -275px;
  line-height: 42px;
  text-align: right;
  max-width: 215px;
}
.win .win__benefits-img .win__benefits-item.item-6 {
  top: 235px;
  left: 57px;
}
.win .win__benefits-img .win__benefits-item.item-6 span {
  top: -65px;
  left: -115px;
  line-height: 42px;
  width: 500px;
}
.win .win__benefits-img .win__benefits-ghost {
  position: absolute;
}
.win .win__benefits-img .win__benefits-ghost.ghost-1 {
  top: 330px;
  left: -178px;
}
.win .win__benefits-img .win__benefits-ghost.ghost-1 img {
  width: 195px;
}
.win .win__benefits-img .win__benefits-ghost.ghost-2 {
  top: 914px;
  right: -178px;
}
.win .win__benefits-img .win__benefits-ghost.ghost-2 img {
  width: 373px;
}
.win .win__benefits-img .win__benefits-ghost.ghost-3 {
  top: 1172px;
  left: 82px;
}
.win .win__benefits-img .win__benefits-ghost.ghost-3 img {
  width: 150px;
}
.win .win__benefits-img .win__benefits-ghost.ghost-4 {
  top: -32px;
  right: -36px;
}
.win .win__benefits-img .win__benefits-ghost.ghost-4 img {
  width: 239px;
}
@media all and (min-width: 769px) {
  .win {
    padding: 0 30px;
  }
}
@media all and (max-width: 768px) {
  .win {
    padding: 0 15px;
  }
}
.suggestion.home {
  background: url("../images/suggestion_bg.jpg") center top no-repeat;
}
.suggestion.home .suggestion__body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.suggestion.home .suggestion__img {
  position: relative;
}
.suggestion.home .suggestion__img img {
  width: 1455px;
  height: 749px;
}
.suggestion.home .sugesstion__info {
  position: absolute;
  top: 125px;
  left: 138px;
  right: 190px;
  bottom: 125px;
}
.suggestion.home .sugesstion__info .sugesstion__info-text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  line-height: 29px;
  color: #fff;
  text-align: center;
  margin-bottom: 35px;
}
.suggestion.home .sugesstion__info .sugesstion__info-text:first-child {
  margin-bottom: 0;
}
.suggestion.home .sugesstion__info .sugesstion__info-text.last {
  max-width: 715px;
  margin: 0 auto;
  margin-bottom: 35px;
}
.suggestion.home .sugesstion__info .sugesstion__info-text span {
  font-size: 20px;
  color: #fcf44f;
}
.suggestion.home .sugesstion__info .sugesstion__button {
  border: none;
  width: 254px;
  height: 85px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 23px;
  color: #000;
  background: url("../images/suggestion_button.png") center center no-repeat;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}
.suggestion.home .sugesstion__info .sugesstion__button span {
  margin-top: -10px;
  display: block;
}
.clients.home {
  background: url(../images/clients_bg.jpg) center top no-repeat;
  margin-top: -21px;
}
.clients.home .clients__body {
  max-width: 1150px;
  margin: 0 auto;
}
.clients.home .clients__title {
  padding-top: 30px;
}
.clients.home .clients__title h2 {
  font-family: 'Bearpaw', serif;
  color: #fcf44f;
  width: 100%;
  font-size: 88px;
  padding-top: 72px;
}
.clients.home .clients__title span {
  position: relative;
}
.clients.home .clients__title span::after {
  content: '';
  position: absolute;
  background: url("../images/candle_3.png") center center no-repeat;
  right: -245px;
  top: -195px;
  width: 223px;
  height: 273px;
}
.clients.home .clients__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 130px 0 50px 0;
  box-sizing: border-box;
}
.clients.home .clients__item {
  margin-bottom: 40px;
  margin-right: 52px;
}
.clients.home .clients__item img {
  display: block;
}
.contacts.home {
  background: url(../images/contacts_bg.jpg) center top no-repeat;
}
.contacts.home .contacts__body {
  padding-bottom: 465px;
  box-sizing: border-box;
}
.contacts.home .contacts__title {
  padding-top: 30px;
}
.contacts.home .contacts__title h2 {
  font-family: 'Bearpaw', serif;
  color: #fcf44f;
  width: 100%;
  font-size: 88px;
  padding-top: 72px;
  text-align: center;
}
.contacts.home .contacts__prizes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;
  width: 600px;
  height: 864px;
  z-index: 2;
}
.contacts.home .contacts__prizes .contacts__candle {
  position: absolute;
}
.contacts.home .contacts__prizes .contacts__candle.left {
  top: -95px;
  left: calc(50% - 600px);
}
.contacts.home .contacts__prizes .contacts__candle.left img {
  width: 330px;
}
.contacts.home .contacts__prizes .contacts__candle.right {
  top: 187px;
  right: calc(50% - 530px);
}
.contacts.home .contacts__prizes .contacts__candle.right img {
  width: 225px;
}
.contacts.home .contacts__prizes .scroll {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}
.contacts.home .contacts__prizes .scroll img {
  width: 600px;
}
.contacts.home .contacts__prizes .scroll-canvas {
  position: absolute;
  top: 68px;
  left: calc(50% - 243px);
  width: 486px;
  z-index: 2;
  background: url("../images/scroll_part2.png") center bottom no-repeat;
  background-size: cover;
  padding-bottom: 30px;
}
.contacts.home .contacts__prizes .contacts__text {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 21px;
  color: #fcf44f;
  text-align: center;
  margin: 25px 50px;
}
.contacts.home .contacts__prizes .contacts__form .contacts__form-row {
  margin: 0 50px;
  position: relative;
}
.contacts.home .contacts__prizes .contacts__form .contacts__form-row span {
  position: absolute;
  top: 5px;
  left: 12px;
  font-family: 'Ubuntu', sans-serif;
  color: #caa064;
  font-size: 12px;
}
.contacts.home .contacts__prizes .contacts__form .contacts__form-input {
  display: block;
  width: 100%;
  border: 1px solid #caa064;
  box-sizing: border-box;
  background-color: transparent;
  padding: 12px;
  margin-bottom: 18px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  outline: none;
}
.contacts.home .contacts__prizes .contacts__form .contacts__form-input.first {
  padding: 16px 12px 8px 12px;
  margin-bottom: 10px;
}
.contacts.home .contacts__prizes .contacts__form .contacts__form-input:focus {
  border: 1px solid #fff;
}
.contacts.home .contacts__prizes .contacts__form .contacts__form-input::placeholder {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: #caa064;
}
.contacts.home .contacts__prizes .contacts__form .socials {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.contacts.home .contacts__prizes .contacts__form .socials img {
  width: 21px;
  height: 21px;
  margin-left: 10px;
  display: block;
}
.contacts.home .contacts__prizes .get-your-prizes {
  width: 236px;
  height: 67px;
  background: url("../images/button_bg_type1.png") center center no-repeat;
  background-size: cover;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 23px;
  color: #000;
  font-weight: 400;
}
.contacts.home .contacts__prizes .get-your-prizes span {
  margin-top: -10px;
  display: block;
}
.contacts.home .portal {
  margin-top: -90px;
  position: absolute;
  bottom: -373px;
  left: calc(50% - 615px);
  z-index: 1;
  width: 1193px;
  height: 465px;
  background: url("../images/portal.png") center center no-repeat;
}
.footer {
  background: url("../images/footer_bg.png") center -124px no-repeat;
  position: relative;
}
.footer::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("../images/footer_bg2.png") center center no-repeat;
  width: 100%;
  height: 459px;
  z-index: 3;
}
@keyframes footerFire {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 100%;
  }
}
.footer .footer__body {
  position: relative;
  max-width: 1365px;
  margin: 0 auto;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.footer .footer__body::after {
  content: '';
  position: absolute;
  z-index: 5;
  top: -165px;
  left: 0;
  width: 100%;
  height: 155px;
  background-image: url("../images/footer_fire.png");
  animation: footerFire 0.8s steps(11) infinite;
}
.footer .footer__logo {
  margin-right: 10px;
}
.footer .footer__logo img {
  width: 136px;
}
.footer .footer__contacts {
  display: flex;
}
.footer .footer__contacts .footer__contacts-text {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #ef2524;
  margin-right: 18px;
}
.footer .footer__contacts .footer__contacts-list {
  display: flex;
}
.footer .footer__contacts .footer__contacts-item {
  display: flex;
  align-items: center;
  margin-right: 38px;
  text-decoration: none;
  color: #000;
}
.footer .footer__contacts .footer__contacts-item img {
  display: block;
  margin-right: 5px;
}
.footer .footer__contacts .footer__contacts-item span {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}
.footer .footer__bottom {
  display: flex;
  align-items: center;
  margin-top: 7px;
}
.footer .footer__bottom .footer__bottom-contact {
  display: flex;
  margin-right: 10px;
}
.footer .footer__bottom .footer__bottom-contact span {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #31144f;
  display: block;
  margin-right: 2px;
}
.footer .footer__bottom .footer__bottom-contact a {
  color: #dd1b2a;
}
.footer .footer__bottom .footer__bottom-copyright {
  margin-right: 18px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #261138;
}
.footer .footer__bottom .footer__bottom-img {
  display: block;
}
/*# sourceMappingURL=index.css.map */